.top-nav .make-payment {
  align-items: center;
  background: #1ba1b9;
  border-radius: 3px;
  border: 3px solid #1ba1b9;
  box-sizing: border-box;
  color: white;
  display: flex;
  line-height: 40px;
  outline: none;
  overflow: hidden;
  padding: 0 1rem;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.3s ease;
  width: 187px;

  svg {
    position: absolute;
    right: 0;
    fill: white;
    padding-right: 0.75em;
    width: 35px;
  }

  &:after {
    content: 'Make Payment';
    bottom: 0;
    color: #fff;
    display: block;
    left: 1rem;
    opacity: 0;
    position: absolute;
    text-align: center;
    top: 0;
    transition: all 0.3s ease;
    z-index: 1;
  }

  &:hover {
    .helper {
      height: 180px;
    }

    &:after,
    .helper {
      opacity: 1;
    }
  }

  .helper {
    opacity: 0;
    transition: all 0.3s ease;
    width: 100%;
    height: 0px;
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: rgba(0, 0, 0, 0.6);
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
  }
}
